.caseStudyHeader {
    display:flex;
    width:100%;
    max-width: 300px;
    flex-direction:column;
    background-color: var(--light2);
    padding: 1rem;
    justify-content:space-between;
    float:right;
}

.caseStudyTagHolder {
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

span.caseStudyTag {
    background-color: var(--dark2);
    color:var(--light1);
    border-radius: 3px;
    margin: 2px;
    padding: 0.25rem 0.5rem;
}

.caseStudyHeaderImage {
    border: 1px solid #ccc;
}